@use "../../scss/" as *;

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.id {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

input {
  // width: 80%;
  max-width: 400px;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: #008000;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #006400;
  }
}

.sign {
  padding: 10px;
}
